.banner {
  height: 35%;
  width: 100%;
  color: #000000;

  h6 {
    padding: 25px 0;
    margin: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 700;
    color: rgb(32, 76, 124);
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      font-weight: 500;
    }

    .card-title {
      font-size: 1rem;
      font-weight: 500;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub-header {
  height: 50%;

  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;

    .card {
      margin: 2rem;
    }
  }
}

.search-field {
  width: 100%;

  input {
    font-size: 1.25rem;
  }
}

[mat-table] {
  width: 100%;
  margin: 0;

  th {
    background-color: rgb(30, 72, 126);
    color: #fff;
    font-size: 1rem;
  }
}

.coin-cell {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 15px;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    color: rgb(162, 128, 66);

    img {
      transform: scale(1.1);
    }
  }
}

.coin-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.coin-symbol-text {
  font-weight: 500;
}

.bold-text {
  font-weight: 600;
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}

@media (max-width: 915px) {
  .banner {
    margin: 10px 0;
    padding: 5px;

    h6 {
      padding: 0;
      margin: 0 0 5px 0;
      font-size: 1.25rem;
      text-align: center;
    }

    .card {
      margin: 0;
      padding: 0;

      .card-title {
        padding: 0;
        margin: 0;
      }
      .card-text {
        padding: 0;
        margin: 0;
      }
    }
  }

  .sub-header {
    font-size: 0.75rem;
    height: 140px;

    .row {
      margin-bottom: 0;
      padding-bottom: 0;
      height: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .search-field {
    input {
      font-size: 1rem;
    }
  }
}
