<main class="main">
  <mat-toolbar class="toolbar">
    <div>
      <a routerLink="/coins-list">
        <img class="logo-img" src="/logo1.png" alt="logo name" />
      </a>
    </div>

    <div class="right-side">
      <a routerLink="/coins-list">Coins</a>
   
    <mat-form-field class="currency-select">
      <mat-select
        (valueChange)="sendCurrencyId($event)"
        class="text-sm"
        [(ngModel)]="selectedCurrency"
      >
        <mat-option selected value="USD">USD</mat-option>
        <mat-option value="EUR">EUR</mat-option>
        <mat-option value="RON">RON</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  </mat-toolbar>
 
  <div class="coins-container">
    <router-outlet />
  </div>
</main>
