.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.right-side {
 display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 15px;

  a {
    padding: 0 35px;
    
    &:hover {
      color: #9cede5;
    }
  }
}

.currency-select {
  width: auto;
  margin-top: 20px;
  padding: 0;
}

.coins-container {
  height: 80vh;
  width: 75vw;
}

.logo-img {
  width: 60%;
  margin-left: 25px;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #009688;

  &:hover {
    color: #a2cfcb;
  }
}