.info-container {
  display: flex;
  flex-direction: column;
}

.currency-info-container {
  height: 13vh;
}

.coin-name {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;

  .logo-img {
    height: 35px;
    width: 35px;
    padding: 10px;
  }

  span {
    padding: 5px;
  }

  .rank {
    border: 1px solid black;
    font-size: 1rem;
    padding: auto;
  }
}

.coin-description {
  font-size: 1.25rem;
}

.chart-container {
  height: 57vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 25px;
}

.chart-info {
  display: flex;
  align-items: center;

  span {
    padding: 15px;
  }
}

.btn-custom {
  color: #000000;
  background: transparent;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid #320606;
  width: 23%;
}

.btn-custom:hover {
  cursor: pointer;
  background: #009688;
  color: #fff;
}

.selected {
  color: white;
  background: #009688;
  font-weight: 700;
  font-size: 18px;
  border: 1px solid #009688;
}

.time-period-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  span {
    border: 1px solid #080000;
    padding: 4px;
    color: #b27575;
  }

  button {
    width: 45px;
    padding: 5px;
  }
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}

* {
  color: #a78585;
}

.navigate-coins {
  padding: 25px 0;
}

.navigate-coins a {
  font-size: 1.15rem;
  font-weight: 600;
  text-decoration: none;
  color: #009688;
}

.navigate-coins a:hover {
  color: #7fc9c3;
}

@media (max-width: 915px) {
  .info-container {
    justify-content: center;
    align-items: center;
     
  }

  .coin-name {
    display: flex;
    justify-content: start;
    align-items: center;
    border: 3px solid gray;

    h6 {
      font-size: 1rem;
    }
  }

  .coin-description {
    border: 2px solid red;
    display: flex;
  }

  .chart-container {
    width: 100%;
    margin: 2px;
    height: auto;
  }
}
