.details {
  width: 30%;
  display: flex;
  margin-top: 25px;
  align-items: center;
  border-right: 2px solid grey;
  flex-direction: column;

  h3 {
      font-weight: bold;
      margin-bottom: 20px;
  }
  h6 {
      width: 100%;
      padding: 25px;
      text-align: justify;
      padding-top: 0;
      padding-bottom: 15px;
  }
}

.coin-info {
  background: transparent;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
      margin: auto;
      display: flex;
  }
}

.more-details {
  padding: 10px;
  margin: 10px;
  line-height: 50px;
  .title {
      font-size: 30px;
      font-weight: 600;
  }
  .value {
      font-size: 30px;
      font-weight: 500;
  }
}

.btn-custom {
  color: #000000;
  background: transparent;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid #320606;
  width: 23%;
}

.btn-custom:focus {
  background: #009688;
  font-weight: 700;
  font-size: 18px;
  border: 1px solid #009688;
}

.currency-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px solid grey;
  padding: 25px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.time-period-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  span {
    border: 1px solid #080000;
    padding: 4px;
    color: #b27575;
  }

  button {
    width: 45px;
    padding: 5px;
  }
}

* {
  color: #a78585;
}