<div class="container-fluid">
  <div class="row">
    <div class="currency-info-container details">
      <div class="coin-info">
        <img
          [ngSrc]="coinData?.coin?.iconUrl"
          [ngSrcset]="'1x, 2x'"
          sizes="100px"
          width="100"
          height="100"
          alt="icon image"
        />
        <h3 class="coin-name">
          {{ coinData?.coin?.name }}
        </h3>
        <h6 [innerHtml]="coinData?.coin?.description?.split('. ')[0]"></h6>
        <div class="more-details">
          <span class="title">Rank: </span>
          <span class="value">{{ coinData?.coin?.rank }}</span>
          <br />

          <span class="title">Current Price: </span>
          <span class="value">{{
            coinData?.coin?.price | currency : currency
          }}</span>
          <br />

          <span class="title">Market Cap: </span>
          <span class="value">{{
            coinData?.coin?.marketCap | currency : currency
          }}</span>
        </div>
      </div>
    </div>

    <div class="chart-container">
      <canvas
        style="width: 900px; height: 600px"
        baseChart
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"
      ></canvas>
      <div class="time-period-container">
        <span>Time period</span>
        <button (click)="getGraphData('3h')" class="btn btn-custom">
          3H
        </button>
        <button (click)="getGraphData('24h')" class="btn btn-custom">
          24H
        </button>
        <button (click)="getGraphData('7d')" class="btn btn-custom">
          7D
        </button>
        <button (click)="getGraphData('30d')" class="btn btn-custom">
          30D
        </button>
        <button (click)="getGraphData('3m')" class="btn btn-custom">
          3M
        </button>
        <button (click)="getGraphData('1y')" class="btn btn-custom">
          1Y
        </button>
        <button (click)="getGraphData('3y')" class="btn btn-custom">
          3Y
        </button>
      </div>
    </div>
  </div>
</div>
